body {
	color: #1e242a;
	font-family: 'Verdana', sans-serif;
}
#main {
	width: 960px;
	background-color: white;
}
a:link, a:active, a:visited {
	text-decoration: none;
	color: #1e242a;
}
.header {
	position: sticky;
	top: 0;
	z-index: 1071;
	background-color: white;
}
.jumbotron {
	position: sticky;
	top: 26px;
	z-index: 1071;
	background-color: #5DABB3;
	color: #EBEBEB;
    margin-bottom: 0rem;
}
#filtres {
	position: sticky;
	top: 210px;
	z-index: 1071;
	background-color: white;
}
.line {
	fill: none;
	stroke-width: 1px;
}
#bordure-gauche, #bordure-droite {
	margin: 5px;
	border: 1px solid #4e8e95;	
}
text, .footer {
	font-size: 10px;
}
#col-gauche, #col-droite {
	text-align: left;
	font-size: 12px;
    background-color: rgba(93,171,179, 0.2);
}
.titreChart {
	font-weight: bold;
	color: #1e242a;
}
.NATIVE, .GE, .focus text {
	stroke-width: 5px;
	font-size: 12px;
	font-weight: bold;
	color: #1e242a;
}
.form-check {
	margin-left: 5px;
}
.form-check-label {
	stroke-width: 5px;
	font-size: 12px;
	color: #1e242a;
}
.focus circle {
	fill: none;
	stroke: steelblue;
	stroke-width: 3px;
}
.hover-line {
	stroke: steelblue;
	stroke-width: 2px;
	stroke-dasharray: 3,3;
}
.overlay {
	fill: none;
	pointer-events: all;
}
.fa-calendar, .fa-home, .fa-info, .fa-bars, .fa-address-card, .fa-eye, .fa-chart-line {
	color: #4e8e95;
}
#datatables_wrapper {
	font-size: 10px;
}
button {
	color:#8d8d8d;
}
