html {
    color: #1e242a;
	font-family: 'Verdana', sans-serif;
}      
#col-gauche, #col-droite {
    background-color: rgba(93,171,179, 0.2);
}
.header {
	position: sticky;
	top: 0;
	z-index: 1071;
	background-color: white;
}
.jumbotron {
	position: sticky;
	top: 26px;
	z-index: 1071;
	background-color: #5DABB3;
	color: #EBEBEB;
}
.jumbotron-datavis {
    margin-bottom: 0rem;
}
.border {
    border-width:3px !important;
}
.border-groove {
    border-style:groove !important;
}
#formupload {
    position: fixed;
    z-index: 1071;
    top: 40px;
    right: 30px;
}
.fa-calendar, .fa-home, .fa-info, .fa-bars, .fa-address-card, .fa-eye, .fa-chart-line {
	color: #4e8e95;
}